## Ignore storage locations local ??
simulations/

/.directory
/.eric5project/ts2.e4t
/.eric5project/ts2.e4q
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.qm

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
*.iml
.kdev4
.settings
temp/

# TS2 files (should be in ts2-data)
*.ts2
*.json
*.tsl
*.tsg
