.idea/
.kdev4/

/.directory
/.eric5project/ts2.e4t
/.eric5project/ts2.e4q
/data/CVS/Entries
/data/CVS/Repository
/data/CVS/Root
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.qm

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.kdev4
